[project]
name = "memscaler"
version = "0.1.0"
description = "nvidia gpu memory scaler"
license-files = ["LICENSE.md"]
readme = "README.md"
authors = [
    { name = "Andi Powers-Holmes", email = "aholmes@omnom.net" }
]
requires-python = ">=3.10"
dependencies = [
    "rich>=14.2.0",
]

[project.scripts]
memscaler = "memscaler:main"

[build-system]
requires = ["uv_build>=0.9.17,<0.10.0"]
build-backend = "uv_build"

[tool.uv.build-backend]
source-include = ["memscaler/*.c"]

[tool.uv]
python-preference = "only-system"


[tool.ruff]
line-length = 110
src = ["src", "tests"]
target-version = 'py310'
required-version = ">=0.14.0"

[tool.ruff.lint]
select = [
    "E4",  # ruff defaults, pycodestyle errors
    "E7",  # ^^
    "E9",  # ^^
    "F",   # ruff defaults, pyflakes rules
    "B",   # flake8-bugbear
    "UP",  # pyupgrade rules
    "PTH", # flake8-use-pathlib
]
ignore = [
    "B008", # Do not warn about function calls in default arguments. disnake uses this for slash commands.
    "E501", # line too long (handled by line-length)
    "B905", # zip without explicit strict=
]
unfixable = [
    "B", # flake8-bugbear autofixes can be unsafe, so disable those autofixes
]

[tool.ruff.lint.per-file-ignores]
# generated by setuptools_scm, no touch
"_version.py" = ["ALL"]
# ignore import violations in __init__.py files and test/docs/tools directories
"__init__.py" = ["E402"]
